.vscode/**
.vscode-test/**
src/**
media-src/**
test/**
test_markdown/**
debug_javascript/**
out/test/**
out/unit/**
playwright.config.ts
playwright.config.js
playwright-report/**
test-results/**
.github/**
.mocharc.cjs
tsconfig.unit.json
system_design_document.md
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
