.vscode/**
.vscode-test/**
src/**
media-src/**
test/**
playwright.config.ts
playwright-report/**
test-results/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
